.features{
    background-color: white;
    height:50vw;
    @include flex(column,center,center);

    h2{
        margin-bottom:2vw;
    }
    .feature{
        height:auto;
        width:40vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom:2vw;

        svg{
            font-size: 4vw;
            margin-right:2vw;
            color:#006039;
        }
        .feature-text{
            p{
                font-size:1.5vw;
            }
            h2{
                font-size:3vw;
            }

        }

    
    }
}
