*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:white;
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
}
.header{
    background-color: #006039;
    width:100%;
    height:5vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
    position: fixed;
    z-index:5;
}
.nav{
    display:flex;
    flex-direction: row;
    gap:2vw;
}
.nav>p{
    color:white;
    font-size:1.5vw;
}
.logo{
    height:5vw;
    width:auto;
    margin-right:60vw;
}

.welcome{
    height:50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.welcome-image{
    height:40vw;
}
.welcome-text{
    width: 40vw;
    height: 40vw;
}
.welcome-text>h1{
    font-size: 5vw;
    margin-top:5vw;
    margin-bottom:2vw;
}

.welcome-text>button{
    height: 4vw;
    width: 10vw;
    margin-top:1vw;
    border:none;
    color:white;
    background-color:#006039;
    border-radius:40px;
    font-size:1vw;
}
.welcome-text>button:hover{
    color:#006039;
    background-color:#A37E2C;
}
.about{
    background-color: none;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color:black;
}
.about-text{
    color:white;
    width:40vw;
    margin-right:5vw;
}
.about-image{
    width:50vw;
    height:100%;
    background-image: url(../img/about.jpg);
    background-size:50vw;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.about-text>h2{
    margin-bottom:2vw;
}
h2{
    font-size:4vw;
}
p{
    font-size:2vw;
}

.models{
    background-color: white;
    height:40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:3vw;
}
.card{
    background-color:rgb(231, 231, 231);
    border-radius:50px;
    width:20vw;
    height:25vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.card>p{
    position:relative;
    top:-1vw;
    z-index:-5;
    font-size:1.5vw;
}
.card:hover{
    animation:popup 0.2s ease-in-out;
    animation-fill-mode:both;
}

.card>img{
    width:15vw;
    height:25vw;
}
.models-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.models-container>h2{
    position: relative;
    font-size:5vw;
    top:3vw;
}
@keyframes popup {
    100%{transform: scale(1.1);}
}
a,a:active,a:hover,a:visited{
    text-decoration: none;
    color:white;
}
a:hover{
    color:#A37E2C;
}
.galery{
    background-color:gray;
    width:100%;
    height:50vw;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,5vw);
}
.galery>img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.galery1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
}
.galery2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
}
.galery3{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 10;
}
.galery4{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.galery5{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
}
.features{
    background-color: white;
    height:50vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features>h2{
    position: relative;
    top:-4vw;
}
.feature{
    height:auto;
    width:40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:2vw;

}
.feature>svg{
    font-size: 4vw;
    margin-right:2vw;
    color:#006039;
}
.feature-text>p{
    font-size:1.5vw;
}
.feature-text>h2{
    font-size:3vw;
}



.footer{
    background-color:#006039;
    width:100%;
    height:10vw;

    justify-content: center;
    padding-top:1.5vw;
    display:flex;
    flex-direction: row;
    gap:2vw;
    color:white;
    font-size:2vh;
}
.footer>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:20vw;
}
.contacts{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5vw;
    font-size:1.5vw;
}
.contacts>svg:hover{
    color:#A37E2C;
}
.company-info>p,
.subscribe>p{
    font-size:1vw;
}
.company-info>p:hover{
    color:#A37E2C;
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright>p{
    font-size:1vw;
}
.subscribe-button{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subscribe-button>input{
    border:none;
    outline:none;
    width:10vw;
    height:2vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left:0.5vw;
    margin-top:1vw;
}
.subscribe-button>button{
    height:2vw;
    width:2vw;
    margin-top:1vw;
    outline:none;
    border:none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color:#A37E2C;
}
.subscribe>button:hover{
    background-color:rgb(206, 171, 68)
}

@media(max-width:768px){
    .header{
        height:10vw;
    }
    .logo{
        height:10vw;
        margin-right:0;
    }
    .nav>p{
        font-size:3vw;
    }
    .nav{
        margin:auto;
    }


    .welcome{
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .welcome-image{
        height:80vw;
    }
    .welcome-text{
        width: 80vw;
        height: 40vw;
    }
    .welcome-text>h1{
        font-size: 9vw;
        margin-top:5vw;
    }
    .welcome-text>p{
        font-size:4vw;
    }
    
    .welcome-text>button{
        height: 5vw;
        width: 20vw;
        margin-top:1vw;
        border:none;
        color:white;
        background-color:#006039;
        border-radius:40px;
        font-size:3vw;
    }
    .welcome-text>button:hover{
        color:#006039;
        background-color:#A37E2C;
    }

    .about{
        background-color: rgba(255, 0, 0, 0);
        height: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-text{
        color:white;
        position: absolute;
        width:100vw;
        margin-right:0px;
        text-align: center;
    }
    .about-image{
        width:100vw;
        height:100%;
        background-image: url(../img/about.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:scroll;
        filter: blur(2px);
    }
    .about-text>h2{
        margin-bottom:2vw;
        font-size:6vw;
        text-shadow: 3px 3px 2px #000000;
    }
    .about-text>p{
        text-shadow: 3px 3px 2px #000000;
        font-size:4vw;
        width:50vw;
        margin:auto;
        text-align: left;
        line-height: 6vw;
    }
    

    .models{
        background-color: white;
        height:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:3vw;
    }
    .card{
        background-color:rgb(231, 231, 231);
        border-radius:50px;
        width:30vw;
        height:50vw;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .card>p{
        position:relative;
        top:-1vw;
        z-index:1;
        font-size:3vw;
    }
    .card:hover{
        animation:none;
    }
    
    .card>img{
        width:30vw;
        height:45vw;
    }
    .models-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .models-container>h2{
        position: relative;
        font-size:10vw;
        top:10vw;
    }
    
    .galery{
        background-color:gray;
        width:100%;
        height:auto;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,50vw);
    }
    .galery>img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .galery1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .galery2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .galery3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .galery4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .galery5{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .features{
        background-color: white;
        height:100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .features>h2{
        position: relative;
        font-size:8vw;
        top:-4vw;
    }
    .feature{
        height:auto;
        width:100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom:2vw;
    
    }
    .feature>svg{
        font-size: 13vw;
    }
    .feature-text>p{
        font-size:3vw;
    }
    .feature-text>h2{
        font-size:5vw;
    }

    .footer{
        width:100%;
        height:auto;
    
        justify-content: center;
        align-items: center;
        padding-top:1.5vw;
        display:flex;
        flex-direction: column;
        gap:1vw;
        color:white;
    }
    .footer>div{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-bottom:2vw;
        margin-top:2vw;
    }
    .footer>div>p{
        font-size:6vw;
    }
    .contacts{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:0.5vw;
        font-size:4vw;
    }
    .company-info>p,
    .subscribe>p{
        font-size:3vw;
        text-align: center;
    }
    .copyright{
        display: flex;
        justify-content: center;
    }
    .footer>.copyright>p{
        font-size:3vw;
    }
    .subscribe-button{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .subscribe-button>input{
        border:none;
        outline:none;
        width:40vw;
        height:8vw;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left:0.5vw;
        margin-top:2vw;
    }
    .subscribe-button>button{
        height:8vw;
        width:8vw;
        margin-top:2vw;
        outline:none;
        border:none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color:#A37E2C;
    }
    .subscribe>button:hover{
        background-color:rgb(206, 171, 68)
    }
    
}